/* /////////////////////////////// */
/* lera shtakantan bnwsn  */
/* //////////////////////////// */























/* /////////////////////////////// */
/* end of sht */
/* /////////////////////////////// */






/* start of item box */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


  font-family: arial;

  margin-bottom: 30px;
}

.price {
  color: grey;
  font-size: 22px;
}
/* end of item box */

/*start header*/
.upper-bar{
  padding: 10px;
  background-color: #FFF;
}
/*end headar */

/*start Login page*/
.Login-page form {
  max-width: 380px;
  margin: auto;
}
.Login-page form input{
  margin-bottom: 10px;
}
.input-control{
  position: relative;
}
.Login-page [data-class="login"].selected{
  color:#337AB7;
}
.Login-page [data-class="signup"].selected{
  color:#5cb85c;
}
.Login-page h1{
  color:#C0C0C0;
}
.Login-page h1 span{
  cursor: pointer;
}
.Login-page .signup{
  display: none;
}
/* end Login page*/
/*start Profile page*/

.information{
  margin top:20px;
}
.information ul{
  padding: 0;
  margin: 0;
}
.information ul li{
  padding: 10px;
}
.information ul li:nth-child(odd){
  background-color: #EEE;
}
.information ul li span{
  display: inline-block;
  width: 120px;
}

/*end Profile page*/


/* start of alert added user box */
.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  max-width: 380px;
  margin: auto;
}

.alert.success {background-color: #4CAF50;}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}



.closebtn:hover {
  color: black;
}
/* end of alert added user box */







.loader {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 100px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}
.comment-box img {
    max-width: 100px;
    display: block;
    background-color: #bbdefb;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #000;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.add-comment h3 {
  margin: 0 0 10px;
}
.add-comment textarea{
  display:block;
  margin-bottom:10px;
  width:500px;
  height: 120px;
}
.comment-box{
  margin-bottom:20px;
}
.comment-box img{

  max-width: 100px;
  display:block;

}
.custom-hr{
  border-top :1px solid #c9c9c9;
}
.upper-bar .my-info rounded-circle{
  width: 32px;
  height: 32px;

}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 20px;
}

.bg-dark {
    background-color: #01579b!important;
}
body {
    background-color: #bbdefb;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e3f2fd;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
