/* start of item box */



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  text-align: center;
  font-family: arial;

  margin-bottom: 30px;
}

.price {
  color: grey;
  font-size: 22px;
}
/* end of item box */

/*start header*/
.upper-bar{
  padding: 10px;
  background-color: #FFF;
}
/*end headar */

/*start Login page*/
.login-page form {
  max-width: 380px;
  margin: auto;
}
.login-page form input{
  margin-bottom: 10px;
}
.input-control{
  position: relative;
}
.Login-page .selected{
  color:#d63031;
}
.Login-page h1{
  color:#ff7675;
}
.Login-page h1 span{
  cursor: pointer;
}
.login-page .signup{
  display: none;
}
/* end Login page*/
