
body{

} /
  background-color: #c62828 ;
  width: 100 vw;
  height: 100 vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-div{
  margin-top: 20px;
background-color: #e1f5fe;
max-width:430px;
padding:10px 80px;
border:1px solid #ddd;
border-radius:12px;
}
/*start Dashbord page */
.Home-stats .stat{
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 20px;
  font-size: 15px;
}
.Home-stats .stat span{
  display: block;
  font-size: 50px;
}
.latest {
  margin-top: 30px ;
}
/*end Dashbord page */

.btn, .btn-large, .btn-small
{
  background-color: #0d47a1 !important;
}
